<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1153,636}</string>
                <key>spriteSourceSize</key>
                <string>{1153,636}</string>
                <key>textureRect</key>
                <string>{{0,553},{1153,636}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{969,450}</string>
                <key>spriteSourceSize</key>
                <string>{969,450}</string>
                <key>textureRect</key>
                <string>{{0,103},{969,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1229,688}</string>
                <key>spriteSourceSize</key>
                <string>{1229,688}</string>
                <key>textureRect</key>
                <string>{{0,1189},{1229,688}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,103}</string>
                <key>spriteSourceSize</key>
                <string>{233,103}</string>
                <key>textureRect</key>
                <string>{{939,0},{233,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,103}</string>
                <key>spriteSourceSize</key>
                <string>{233,103}</string>
                <key>textureRect</key>
                <string>{{706,0},{233,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,103}</string>
                <key>spriteSourceSize</key>
                <string>{233,103}</string>
                <key>textureRect</key>
                <string>{{473,0},{233,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>QP.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,103}</string>
                <key>spriteSourceSize</key>
                <string>{233,103}</string>
                <key>textureRect</key>
                <string>{{240,0},{233,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,81}</string>
                <key>spriteSourceSize</key>
                <string>{81,81}</string>
                <key>textureRect</key>
                <string>{{0,0},{81,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TX.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,63}</string>
                <key>spriteSourceSize</key>
                <string>{159,63}</string>
                <key>textureRect</key>
                <string>{{81,0},{159,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Game.png</string>
            <key>size</key>
            <string>{1229,1877}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22d386fe22d88183a4a5611da84378d7:6f7877af5d49865e145f4c13434a7999:60881f8357b9fba8052fb6520b66c6b4$</string>
            <key>textureFileName</key>
            <string>Game.png</string>
        </dict>
    </dict>
</plist>
