<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>13D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{452,450}</string>
                <key>spriteSourceSize</key>
                <string>{452,450}</string>
                <key>textureRect</key>
                <string>{{808,404},{452,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,111}</string>
                <key>spriteSourceSize</key>
                <string>{108,111}</string>
                <key>textureRect</key>
                <string>{{435,0},{108,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,92}</string>
                <key>spriteSourceSize</key>
                <string>{253,92}</string>
                <key>textureRect</key>
                <string>{{1480,0},{253,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Money.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{487,65}</string>
                <key>spriteSourceSize</key>
                <string>{487,65}</string>
                <key>textureRect</key>
                <string>{{485,140},{487,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayDescription.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{219,0},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Promotion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,113}</string>
                <key>spriteSourceSize</key>
                <string>{338,113}</string>
                <key>textureRect</key>
                <string>{{972,140},{338,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Recharge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{252,97}</string>
                <key>spriteSourceSize</key>
                <string>{252,97}</string>
                <key>textureRect</key>
                <string>{{0,140},{252,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Setting.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,116}</string>
                <key>spriteSourceSize</key>
                <string>{118,116}</string>
                <key>textureRect</key>
                <string>{{543,0},{118,116}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{0,881},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>brnn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{392,420}</string>
                <key>spriteSourceSize</key>
                <string>{392,420}</string>
                <key>textureRect</key>
                <string>{{0,404},{392,420}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>contact.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{116,96}</string>
                <key>spriteSourceSize</key>
                <string>{116,96}</string>
                <key>textureRect</key>
                <string>{{319,0},{116,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,59}</string>
                <key>spriteSourceSize</key>
                <string>{42,59}</string>
                <key>textureRect</key>
                <string>{{96,0},{42,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,47}</string>
                <key>spriteSourceSize</key>
                <string>{30,47}</string>
                <key>textureRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{264,264}</string>
                <key>spriteSourceSize</key>
                <string>{264,264}</string>
                <key>textureRect</key>
                <string>{{1310,140},{264,264}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,110}</string>
                <key>spriteSourceSize</key>
                <string>{175,110}</string>
                <key>textureRect</key>
                <string>{{661,0},{175,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,140}</string>
                <key>spriteSourceSize</key>
                <string>{165,140}</string>
                <key>textureRect</key>
                <string>{{1315,0},{165,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,36}</string>
                <key>spriteSourceSize</key>
                <string>{66,36}</string>
                <key>textureRect</key>
                <string>{{30,0},{66,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>money3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,52}</string>
                <key>spriteSourceSize</key>
                <string>{81,52}</string>
                <key>textureRect</key>
                <string>{{138,0},{81,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>personal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,106}</string>
                <key>spriteSourceSize</key>
                <string>{233,106}</string>
                <key>textureRect</key>
                <string>{{252,140},{233,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>recording.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{239,82}</string>
                <key>spriteSourceSize</key>
                <string>{239,82}</string>
                <key>textureRect</key>
                <string>{{836,0},{239,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>srnn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,477}</string>
                <key>spriteSourceSize</key>
                <string>{416,477}</string>
                <key>textureRect</key>
                <string>{{392,404},{416,477}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>withdraw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,96}</string>
                <key>spriteSourceSize</key>
                <string>{240,96}</string>
                <key>textureRect</key>
                <string>{{1075,0},{240,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zjh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,454}</string>
                <key>spriteSourceSize</key>
                <string>{454,454}</string>
                <key>textureRect</key>
                <string>{{1260,404},{454,454}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Hall.png</string>
            <key>size</key>
            <string>{1920,1961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a60fb85303e30a83325b5f19660e66fd:f4325b2c25a34a359c3e900865bb2240:832704132c6d8c74b176189b527c6d86$</string>
            <key>textureFileName</key>
            <string>Hall.png</string>
        </dict>
    </dict>
</plist>
