<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1208,784}</string>
                <key>spriteSourceSize</key>
                <string>{1208,784}</string>
                <key>textureRect</key>
                <string>{{0,0},{1208,784}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Esc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,87}</string>
                <key>spriteSourceSize</key>
                <string>{84,87}</string>
                <key>textureRect</key>
                <string>{{1208,0},{84,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,108}</string>
                <key>spriteSourceSize</key>
                <string>{235,108}</string>
                <key>textureRect</key>
                <string>{{0,784},{235,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OK2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,103}</string>
                <key>spriteSourceSize</key>
                <string>{233,103}</string>
                <key>textureRect</key>
                <string>{{235,784},{233,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Personal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,72}</string>
                <key>spriteSourceSize</key>
                <string>{240,72}</string>
                <key>textureRect</key>
                <string>{{468,784},{240,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>PlayDescription.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{250,69}</string>
                <key>spriteSourceSize</key>
                <string>{250,69}</string>
                <key>textureRect</key>
                <string>{{708,784},{250,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Recharge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,71}</string>
                <key>spriteSourceSize</key>
                <string>{140,71}</string>
                <key>textureRect</key>
                <string>{{958,784},{140,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Recording.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,68}</string>
                <key>spriteSourceSize</key>
                <string>{140,68}</string>
                <key>textureRect</key>
                <string>{{1098,784},{140,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Withdraw.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,70}</string>
                <key>spriteSourceSize</key>
                <string>{140,70}</string>
                <key>textureRect</key>
                <string>{{1238,784},{140,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Pop-ups.png</string>
            <key>size</key>
            <string>{1378,892}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:512220954be9feb549e5dba807a3d662:358d800159ccd70a438903634f7aa945:c952791a22e28e251db8b25992aa1860$</string>
            <key>textureFileName</key>
            <string>Pop-ups.png</string>
        </dict>
    </dict>
</plist>
