<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Article1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{434,39}</string>
                <key>spriteSourceSize</key>
                <string>{434,39}</string>
                <key>textureRect</key>
                <string>{{0,0},{434,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Article2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{553,43}</string>
                <key>spriteSourceSize</key>
                <string>{553,43}</string>
                <key>textureRect</key>
                <string>{{434,0},{553,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1161,482}</string>
                <key>spriteSourceSize</key>
                <string>{1161,482}</string>
                <key>textureRect</key>
                <string>{{99,98},{1161,482}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>OK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,98}</string>
                <key>spriteSourceSize</key>
                <string>{228,98}</string>
                <key>textureRect</key>
                <string>{{1051,0},{228,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,78}</string>
                <key>spriteSourceSize</key>
                <string>{64,78}</string>
                <key>textureRect</key>
                <string>{{987,0},{64,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,99}</string>
                <key>spriteSourceSize</key>
                <string>{99,99}</string>
                <key>textureRect</key>
                <string>{{0,98},{99,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Setting.png</string>
            <key>size</key>
            <string>{1279,580}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d13096d7cc0272742fc476bf11fcaefc:4a2c9eeaedb6b1c3fe98a4c01a6b30ae:5a08a6c663804ce26081699a96476fa2$</string>
            <key>textureFileName</key>
            <string>Setting.png</string>
        </dict>
    </dict>
</plist>
