<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,72}</string>
                <key>spriteSourceSize</key>
                <string>{45,72}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,71}</string>
                <key>spriteSourceSize</key>
                <string>{45,71}</string>
                <key>textureRect</key>
                <string>{{419,0},{45,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,71}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{464,0},{47,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{511,0},{47,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{558,0},{47,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{605,0},{47,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{652,0},{47,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{699,0},{47,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{746,0},{47,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,73}</string>
                <key>spriteSourceSize</key>
                <string>{46,73}</string>
                <key>textureRect</key>
                <string>{{793,0},{46,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{45,0},{47,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,71}</string>
                <key>spriteSourceSize</key>
                <string>{45,71}</string>
                <key>textureRect</key>
                <string>{{839,0},{45,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,71}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{884,0},{47,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,70}</string>
                <key>textureRect</key>
                <string>{{931,0},{47,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,71}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{978,0},{47,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,71}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{1025,0},{47,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,71}</string>
                <key>spriteSourceSize</key>
                <string>{48,71}</string>
                <key>textureRect</key>
                <string>{{1072,0},{48,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,70}</string>
                <key>textureRect</key>
                <string>{{1120,0},{47,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,71}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{1167,0},{47,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,70}</string>
                <key>spriteSourceSize</key>
                <string>{46,70}</string>
                <key>textureRect</key>
                <string>{{1214,0},{46,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,72}</string>
                <key>spriteSourceSize</key>
                <string>{46,72}</string>
                <key>textureRect</key>
                <string>{{92,0},{46,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{138,0},{47,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,73}</string>
                <key>spriteSourceSize</key>
                <string>{47,73}</string>
                <key>textureRect</key>
                <string>{{185,0},{47,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,72}</string>
                <key>spriteSourceSize</key>
                <string>{47,72}</string>
                <key>textureRect</key>
                <string>{{232,0},{47,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,71}</string>
                <key>spriteSourceSize</key>
                <string>{47,71}</string>
                <key>textureRect</key>
                <string>{{279,0},{47,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,70}</string>
                <key>spriteSourceSize</key>
                <string>{47,70}</string>
                <key>textureRect</key>
                <string>{{326,0},{47,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,70}</string>
                <key>spriteSourceSize</key>
                <string>{46,70}</string>
                <key>textureRect</key>
                <string>{{373,0},{46,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dissolution.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,79}</string>
                <key>spriteSourceSize</key>
                <string>{198,79}</string>
                <key>textureRect</key>
                <string>{{0,1153},{198,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{0,73},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>invite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{231,90}</string>
                <key>spriteSourceSize</key>
                <string>{231,90}</string>
                <key>textureRect</key>
                <string>{{198,1153},{231,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,51}</string>
                <key>spriteSourceSize</key>
                <string>{25,51}</string>
                <key>textureRect</key>
                <string>{{429,1153},{25,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>outroom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{198,79}</string>
                <key>spriteSourceSize</key>
                <string>{198,79}</string>
                <key>textureRect</key>
                <string>{{454,1153},{198,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,51}</string>
                <key>spriteSourceSize</key>
                <string>{25,51}</string>
                <key>textureRect</key>
                <string>{{652,1153},{25,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roominf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,71}</string>
                <key>spriteSourceSize</key>
                <string>{174,71}</string>
                <key>textureRect</key>
                <string>{{677,1153},{174,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>set.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{851,1153},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,44}</string>
                <key>spriteSourceSize</key>
                <string>{33,44}</string>
                <key>textureRect</key>
                <string>{{918,1153},{33,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Card.png</string>
            <key>size</key>
            <string>{1920,1243}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb24dadfadb463dd288805e29db0b31f:154120fac1f348f8fc4d02b2a5be6ad4:7a604e4d094c5c24f2d2baa176a2f6c3$</string>
            <key>textureFileName</key>
            <string>Card.png</string>
        </dict>
    </dict>
</plist>
