<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1646,928}</string>
                <key>spriteSourceSize</key>
                <string>{1646,928}</string>
                <key>textureRect</key>
                <string>{{0,503},{1646,928}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1357,203}</string>
                <key>spriteSourceSize</key>
                <string>{1357,203}</string>
                <key>textureRect</key>
                <string>{{0,86},{1357,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1357,78}</string>
                <key>spriteSourceSize</key>
                <string>{1357,78}</string>
                <key>textureRect</key>
                <string>{{219,0},{1357,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{380,417}</string>
                <key>spriteSourceSize</key>
                <string>{380,417}</string>
                <key>textureRect</key>
                <string>{{1357,86},{380,417}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>careat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{213,86}</string>
                <key>spriteSourceSize</key>
                <string>{213,86}</string>
                <key>textureRect</key>
                <string>{{1576,0},{213,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>esc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{93,60}</string>
                <key>spriteSourceSize</key>
                <string>{93,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{93,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>roomcard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{126,65}</string>
                <key>spriteSourceSize</key>
                <string>{126,65}</string>
                <key>textureRect</key>
                <string>{{93,0},{126,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Create.png</string>
            <key>size</key>
            <string>{1789,1431}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ad7cbf505a4a4e196071c940fbd8b8e:e48a98114b8c4dea5e9a793dddd50376:45ad0d257a43d429a1cfc86ac466c08c$</string>
            <key>textureFileName</key>
            <string>Create.png</string>
        </dict>
    </dict>
</plist>
