<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginbutton1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-26}</string>
                <key>spriteSize</key>
                <string>{303,105}</string>
                <key>spriteSourceSize</key>
                <string>{325,223}</string>
                <key>textureRect</key>
                <string>{{1,1083},{303,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loginbutton2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-26}</string>
                <key>spriteSize</key>
                <string>{303,105}</string>
                <key>spriteSourceSize</key>
                <string>{325,223}</string>
                <key>textureRect</key>
                <string>{{306,1083},{303,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>yhxy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{186,41}</string>
                <key>spriteSourceSize</key>
                <string>{186,41}</string>
                <key>textureRect</key>
                <string>{{611,1083},{186,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameUI.png</string>
            <key>size</key>
            <string>{1922,1189}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c0f46f4b35845b4fca901c9f5e2efc1:abcee3bd08b5b9ab52837eea1419ebcd:2531ce2a050ca5e2ac51e04161e77adb$</string>
            <key>textureFileName</key>
            <string>GameUI.png</string>
        </dict>
    </dict>
</plist>
