<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{606,659}</string>
                <key>spriteSourceSize</key>
                <string>{606,659}</string>
                <key>textureRect</key>
                <string>{{1075,422},{606,659}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,190}</string>
                <key>spriteSourceSize</key>
                <string>{174,190}</string>
                <key>textureRect</key>
                <string>{{638,1},{174,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Announcement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,311}</string>
                <key>spriteSourceSize</key>
                <string>{337,311}</string>
                <key>textureRect</key>
                <string>{{1134,1},{337,311}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>CreateRoom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{527,505}</string>
                <key>spriteSourceSize</key>
                <string>{527,505}</string>
                <key>textureRect</key>
                <string>{{1,422},{527,505}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Email.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,78}</string>
                <key>spriteSourceSize</key>
                <string>{76,78}</string>
                <key>textureRect</key>
                <string>{{301,1},{76,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Flower.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,314}</string>
                <key>spriteSourceSize</key>
                <string>{318,314}</string>
                <key>textureRect</key>
                <string>{{814,1},{318,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HowToPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,80}</string>
                <key>spriteSourceSize</key>
                <string>{49,80}</string>
                <key>textureRect</key>
                <string>{{54,1},{49,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>InformationBar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-2}</string>
                <key>spriteSize</key>
                <string>{1828,103}</string>
                <key>spriteSourceSize</key>
                <string>{1830,111}</string>
                <key>textureRect</key>
                <string>{{1,317},{1828,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>JoinGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{543,496}</string>
                <key>spriteSourceSize</key>
                <string>{565,496}</string>
                <key>textureRect</key>
                <string>{{530,422},{543,496}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Plus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{1,1},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,85}</string>
                <key>spriteSourceSize</key>
                <string>{67,85}</string>
                <key>textureRect</key>
                <string>{{166,1},{67,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RoomCard.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{257,65}</string>
                <key>spriteSourceSize</key>
                <string>{257,65}</string>
                <key>textureRect</key>
                <string>{{379,1},{257,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,78}</string>
                <key>spriteSourceSize</key>
                <string>{59,78}</string>
                <key>textureRect</key>
                <string>{{105,1},{59,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShareIt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,91}</string>
                <key>spriteSourceSize</key>
                <string>{64,91}</string>
                <key>textureRect</key>
                <string>{{235,1},{64,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1083},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>HallUI.png</string>
            <key>size</key>
            <string>{1922,2164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bddb78be56b91e67367ed2718b01b581:7b5252627f6c51d4a6c9fb93645ffc23:73f419239819cf809386e1f189f70eb4$</string>
            <key>textureFileName</key>
            <string>HallUI.png</string>
        </dict>
    </dict>
</plist>
