<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{0,0},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{195,0},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{390,0},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{585,0},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{780,0},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{975,0},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{1170,0},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{1365,0},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{0,95},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{195,95},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dorp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{0,845},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Esc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,127}</string>
                <key>spriteSourceSize</key>
                <string>{127,127}</string>
                <key>textureRect</key>
                <string>{{195,845},{127,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Reenter.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,95}</string>
                <key>spriteSourceSize</key>
                <string>{195,95}</string>
                <key>textureRect</key>
                <string>{{450,845},{195,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TextBox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{773,99}</string>
                <key>spriteSourceSize</key>
                <string>{773,99}</string>
                <key>textureRect</key>
                <string>{{645,845},{773,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1090,750}</string>
                <key>spriteSourceSize</key>
                <string>{1090,750}</string>
                <key>textureRect</key>
                <string>{{390,95},{1090,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ok.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,56}</string>
                <key>spriteSourceSize</key>
                <string>{128,56}</string>
                <key>textureRect</key>
                <string>{{322,845},{128,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>JoinGame.png</string>
            <key>size</key>
            <string>{1560,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9ec17298c4056e72d42b62720d81bce:edf59a7b33529d653a018cd84a6630ab:abe341ecd0e7f342d071522dedd6216c$</string>
            <key>textureFileName</key>
            <string>JoinGame.png</string>
        </dict>
    </dict>
</plist>
