<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>RecordBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1769,1087}</string>
                <key>spriteSourceSize</key>
                <string>{1769,1087}</string>
                <key>textureRect</key>
                <string>{{1,1},{1769,1087}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RecordButton.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1390,189}</string>
                <key>spriteSourceSize</key>
                <string>{1390,189}</string>
                <key>textureRect</key>
                <string>{{1,1090},{1390,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RecordClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{105,105}</string>
                <key>spriteSourceSize</key>
                <string>{109,109}</string>
                <key>textureRect</key>
                <string>{{1393,1090},{105,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShareItBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1159,821}</string>
                <key>spriteSourceSize</key>
                <string>{1159,821}</string>
                <key>textureRect</key>
                <string>{{1,1281},{1159,821}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ShareItClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1129,62}</string>
                <key>spriteSourceSize</key>
                <string>{1129,62}</string>
                <key>textureRect</key>
                <string>{{1,2104},{1129,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Record and ShareIt.png</string>
            <key>size</key>
            <string>{1771,2167}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6eb4ac4a417d0e219e3109c6b6fd8663:a1e49610ced4088f737d4f3bae5f00bd:eeb19634fd88e80f7e6cae055b3a1686$</string>
            <key>textureFileName</key>
            <string>Record and ShareIt.png</string>
        </dict>
    </dict>
</plist>
