<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EmailBG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-12,-9}</string>
                <key>spriteSize</key>
                <string>{1289,802}</string>
                <key>spriteSourceSize</key>
                <string>{1505,820}</string>
                <key>textureRect</key>
                <string>{{1,1977},{1289,802}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,82}</string>
                <key>spriteSourceSize</key>
                <string>{73,82}</string>
                <key>textureRect</key>
                <string>{{1,1},{73,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{487,28}</string>
                <key>spriteSourceSize</key>
                <string>{495,32}</string>
                <key>textureRect</key>
                <string>{{76,1},{487,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bar3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,26}</string>
                <key>spriteSourceSize</key>
                <string>{255,26}</string>
                <key>textureRect</key>
                <string>{{565,1},{255,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{114,0}</string>
                <key>spriteSize</key>
                <string>{1273,808}</string>
                <key>spriteSourceSize</key>
                <string>{1501,808}</string>
                <key>textureRect</key>
                <string>{{1,85},{1273,808}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,110}</string>
                <key>spriteSourceSize</key>
                <string>{131,110}</string>
                <key>textureRect</key>
                <string>{{1276,85},{131,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>close2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,2}</string>
                <key>spriteSize</key>
                <string>{70,72}</string>
                <key>spriteSourceSize</key>
                <string>{88,82}</string>
                <key>textureRect</key>
                <string>{{1409,85},{70,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cover.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,895},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{142,61}</string>
                <key>spriteSourceSize</key>
                <string>{142,65}</string>
                <key>textureRect</key>
                <string>{{1292,1977},{142,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{142,60}</string>
                <key>spriteSourceSize</key>
                <string>{142,66}</string>
                <key>textureRect</key>
                <string>{{1436,1977},{142,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,37}</string>
                <key>spriteSourceSize</key>
                <string>{96,37}</string>
                <key>textureRect</key>
                <string>{{1580,1977},{96,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,36}</string>
                <key>spriteSourceSize</key>
                <string>{96,36}</string>
                <key>textureRect</key>
                <string>{{1678,1977},{96,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,36}</string>
                <key>spriteSourceSize</key>
                <string>{96,36}</string>
                <key>textureRect</key>
                <string>{{1776,1977},{96,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,23}</string>
                <key>spriteSourceSize</key>
                <string>{51,23}</string>
                <key>textureRect</key>
                <string>{{1,2781},{51,23}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,24}</string>
                <key>spriteSourceSize</key>
                <string>{26,24}</string>
                <key>textureRect</key>
                <string>{{54,2781},{26,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>textSZ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,68}</string>
                <key>spriteSourceSize</key>
                <string>{336,68}</string>
                <key>textureRect</key>
                <string>{{82,2781},{336,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wfsm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1426,888}</string>
                <key>spriteSourceSize</key>
                <string>{1426,888}</string>
                <key>textureRect</key>
                <string>{{420,2781},{1426,888}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SettingsUI.png</string>
            <key>size</key>
            <string>{1922,3670}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7ed879d2173a41d86a82accdce44039:2fd5c9f68097714468454167d2db0035:a5306ecdc723b26895a9207225d32fde$</string>
            <key>textureFileName</key>
            <string>SettingsUI.png</string>
        </dict>
    </dict>
</plist>
