<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>D.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,406}</string>
                <key>spriteSourceSize</key>
                <string>{352,406}</string>
                <key>textureRect</key>
                <string>{{318,0},{352,406}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>H.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{352,411}</string>
                <key>spriteSourceSize</key>
                <string>{352,411}</string>
                <key>textureRect</key>
                <string>{{670,0},{352,411}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,450}</string>
                <key>spriteSourceSize</key>
                <string>{416,450}</string>
                <key>textureRect</key>
                <string>{{1376,0},{416,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,481}</string>
                <key>spriteSourceSize</key>
                <string>{402,481}</string>
                <key>textureRect</key>
                <string>{{454,458},{402,481}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{354,458}</string>
                <key>spriteSourceSize</key>
                <string>{354,458}</string>
                <key>textureRect</key>
                <string>{{1022,0},{354,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SY.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,509}</string>
                <key>spriteSourceSize</key>
                <string>{402,509}</string>
                <key>textureRect</key>
                <string>{{1278,458},{402,509}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,425}</string>
                <key>spriteSourceSize</key>
                <string>{318,425}</string>
                <key>textureRect</key>
                <string>{{0,0},{318,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{454,418}</string>
                <key>spriteSourceSize</key>
                <string>{454,418}</string>
                <key>textureRect</key>
                <string>{{0,458},{454,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Z.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,472}</string>
                <key>spriteSourceSize</key>
                <string>{422,472}</string>
                <key>textureRect</key>
                <string>{{856,458},{422,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Animal.png</string>
            <key>size</key>
            <string>{1792,967}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:182320010c2cbf965450419872fa2571:c50573a1aae7fccc240ec92abe174e3f:9b8dccb85da0e0c1e074d81cb9f5845c$</string>
            <key>textureFileName</key>
            <string>Animal.png</string>
        </dict>
    </dict>
</plist>
